.parent0 {
    border-radius: 15px;
    border: 2px solid beige;
    text-align: center;
    color: beige;
    padding: 5px;
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;

}

.parent,
.parent2,
.parent3 {
    border-radius: 15px;
    background-color: beige;
    text-align: center;
    color: darkslategray;
    margin-top: 5%;
    margin-left: 25%;
    height: 600px;
    width: 50%;
    margin-bottom: 3%;
}

.dateone,
.datetwo,
.datethree {
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 80%;
    padding: 2%;
}

.imageone,
.imagetwo,
.imagethree {
    height: 210px;
    width: 360px;
    border-radius: 15px;
}

.linkone,
.linktwo,
.linkthree {
    border-radius: 15px;
    border: 2px solid darkslategray;
    padding: 2px;
}

body {
    font-family: 'DM Serif Display', serif;
    background-image: url(beach.jpg);
    background-position: center;
    height: 300vh;
}

/*
- padding is the difference between the center of an element and its border
- margin is the difference between the border and the next element
*/