.parent0 {
    border-radius: 15px;
    border: 2px solid beige;
    text-align: center;
    color: beige;
    padding: 5px;
    margin-top: 3%; 
    margin-left: 30%;
    margin-right: 30%;

}
.parent,
.parent2,
.parent3 {
    border-radius: 15px;
    margin-top: 60px;
    margin-left: 25%;
    background-color: beige;
    color: darkslategray;
    height: 600px;
    width: 50%;
    text-align: center;
    position: relative;
    margin-bottom: 3%;
}

.dateone,
.datetwo,
.datethree {
    position: absolute;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.imageone,
.imagetwo,
.imagethree {
    position: absolute;
    top: 250px;
    left: 40%;
    height: 210px;
    width: 375px;
    transform: translate(-50%, -50%);
}

.linkone,
.linktwo,
.linkthree {
    position: absolute;
    border-radius: 15px;
    border: 2px solid darkslategray;
    color: darkslategray;
    bottom: 5px;
    right: 30px;
    padding: 5px;
}

.titleone,
.titletwo,
.titlethree {
    position: absolute;
    color: darkslategray;
    top: 100px;
    left: 31%;
    transform: translate(-50%, -50%);
}

.midnight,.AMA,.birthday{
    position: absolute;
    top: 75%;
    left: 40%;
    width: 45vw;
    transform: translate(-50%, -50%);
}

body {
    font-family: 'DM Serif Display', serif;
    background-image: url(beach.jpg);
    background-position: center;
    height: 250vh;
}

/*
- padding is the difference between the center of an element and its border
- margin is the difference between the border and the next element
*/