.parent0 {
    border-radius: 15px;
    border: 2px solid beige;
    text-align: center;
    color: beige;
    padding: 5px;
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;

}

.parent,
.parent2,
.parent3 {
    border-radius: 15px;
    background-color: beige;
    text-align: center;
    color: darkslategray;
    margin-top: 5%;
    margin-left: 25%;
    height: 600px;
    width: 50%;
    margin-bottom: 3%;
}

.dateone,
.datetwo,
.datethree {
    top: 5%;
    margin-left: 80%;
}

.imageone,
.imagetwo,
.imagethree {
    top: 250px;
    left: 40%;
    height: 210px;
    width: 375px;
    transform: translate(-50%, -50%);
}

.linkone,
.linktwo,
.linkthree {
    border-radius: 15px;
    border: 2px solid darkslategray;
    color: darkslategray;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 10%;
}

.titleone,
.titletwo,
.titlethree {
    color: darkslategray;
    top: 100px;
    left: 31%;
    transform: translate(-50%, -50%);
}

.midnight,
.AMA,
.birthday {
    top: 75%;
    left: 40%;
    width: 45vw;
    transform: translate(-50%, -50%);
}

body {
    font-family: 'DM Serif Display', serif;
    background-image: url(beach.jpg);
    background-position: center;
    height: 250vh;
}

/*
- padding is the difference between the center of an element and its border
- margin is the difference between the border and the next element
*/