.parent {
    border: 5px solid red;
    height: 500px;
    width: 700px;
    position: relative;
    margin-top: 200px;
  }
  .child {
    border: 3px solid green;
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
  }